.main-bg {
    background-color: #0A1128;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(51,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23071E6E'/%3E%3Cstop offset='1' stop-color='%23339607'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(147,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%238D5307'/%3E%3Cstop offset='1' stop-color='%236A5400'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='13.86'%3E%3Cpath transform='translate(-80.15 -8) rotate(-12.05 1409 581) scale(0.8821929999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.620000000000001' transform='translate(-144.5 74) rotate(-1.3000000000000007 800 450) scale(0.990678)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-8.599999999999998 -10.5) rotate(-36.5 401 736) scale(0.990678)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.2'%3E%3Cpath transform='translate(444 17.4) rotate(-4.35 150 345) scale(1.0187309999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='9.240000000000002' transform='translate(-37.5 -208.5) rotate(-71.99999999999999 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-180.8 35.2) rotate(-12 1400 132) scale(0.765)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.white-bg {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.section {
    min-height: 100vh;
}

.menu-space {
    height: 6.5rem;
}