.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu div a {
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secundary-color);
    transition: all 500ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 60%;
    left: 25%;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--ligth-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
}